<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>FakeIrisXEAccelDevice</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.anomy.driver.FakeIrisXEFramebuffer</string>
			<key>IOClass</key>
			<string>FakeIrisXEAccelDevice</string>
			<key>IOGVACapabilities</key>
			<string>basic</string>
			<key>IONameMatch</key>
			<string>FakeIrisXEFramebuffer</string>
			<key>IOProviderClass</key>
			<string>FakeIrisXEFramebuffer</string>
			<key>MetalPluginClassName</key>
			<string>FakeIrisXEAccelerator</string>
		</dict>
		<key>FakeIrisXEAccelerator</key>
		<dict>
			<key>IOClass</key>
			<string>FakeIrisXEAccelerator</string>
			<key>IOGVAGPUSupported</key>
			<true/>
			<key>IOGVAHEVCDecode</key>
			<true/>
			<key>IOMatchCategory</key>
			<string>IOAccelerator</string>
			<key>IONameMatch</key>
			<string>FakeIrisXEFramebuffer</string>
			<key>IOProviderClass</key>
			<string>FakeIrisXEFramebuffer</string>
			<key>IOUserClientClass</key>
			<string>FakeIrisXEAcceleratorUserClient</string>
			<key>MetalPlugin</key>
			<true/>
			<key>MetalPluginClassName</key>
			<string>FakeIrisXEAccelerator</string>
		</dict>
		<key>FakeIrisXEFramebuffer</key>
		<dict>
			<key>AAPL,HasPanel</key>
			<true/>
			<key>IOClass</key>
			<string>FakeIrisXEFramebuffer</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IONameMatch</key>
			<string>GFX0</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x9A498086 0x46A38086</string>
			<key>IOProbeScore</key>
			<integer>50000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>built-in</key>
			<true/>
		</dict>
	</dict>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOGraphicsFamily</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>20.6.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>20.6.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>20.6.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
